<div class="container-fluid"> 
  <h1>Contacts</h1>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#contact-list" data-toggle="tab">All Contacts</a></li>
    <li><a href="#create" data-toggle="tab">Create a Contact</a></li>
  </ul>
  <br/>
<!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="contact-list">
      <div class="container-fluid">
        <table class="table" id="contacts">
          <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Date Added</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="create">
      <div class="col-md-4">
        <form action="#" id="create-contact" role="form">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" placeholder="Enter your first name" name="first_name" id="first_name">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter your last name" name="last_name" id="last_name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" placeholder="Enter your email address" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" class="form-control" name="phone_number" placeholder="Enter your phone number" id="phone_number">
          </div>
          <input type="submit" class="btn btn-success" id="contact-submit" value="Create!">
        </form>
      </div>
    </div>
  </div>
</div>