<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <a class="navbar-brand">Contacts!</a>
    <li class="active"><a href="#contact-list" data-toggle="tab">All Contacts</a></li>
    <li><a href="#create" data-toggle="tab">Create a Contact</a></li>
    <li><a href="#api-doc" data-toggle="tab">API Doc</a></li>
  </ul>
</nav>
<div class="container-fluid"> 
  <br/>
  <!-- DataTable --> 
  <div class="tab-content">
    <div class="tab-pane active" id="contact-list">
      <div class="container-fluid">
        <table class="table" id="contacts">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Date Added</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <!-- Create Form -->
    <div class="tab-pane" id="create">
      <div class="col-md-4">
        <form action="#" id="create-contact" role="form">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" placeholder="Enter your first name" name="first_name" id="first_name">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter your last name" name="last_name" id="last_name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" placeholder="Enter your email address" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" class="form-control" name="phone_number" placeholder="Enter your phone number" id="phone_number">
          </div>
          <input type="submit" class="btn btn-success" id="contact-submit" value="Create!">
        </form>
      </div>
    </div>
    <!-- API Doc -->
    <div class="tab-pane container-fluid" id="api-doc">
      <h2>Contacts API</h2>
      <p>The contacts api allows you to create, retrieve, update, and delete contacts.</p>
      <h3>Endpoints</h3>
      <p>
        <ul>
          <li>POST /contacts</li>
          <li>GET /contacts</li>
          <li>PUT /contacts/{id}</li>
          <li>DELETE /contacts/{id}</li>    
        </ul>
      </p>
      <hr>
      <h3>Create a contact <small>POST /contacts</small></h3>
      <p>
        Params:
        <ul>
          <li>first_name (required)</li>
          <li>last_name (required)</li>
          <li>email</li>
          <li>phone_number</li>
        </ul>
      </p>
      <h3>Edit a contact <small>PUT /contacts/:id</small></h3>
      <p>
        Params:
        <ul>
          <li>first_name</li>
          <li>last_name</li>
          <li>email</li>
          <li>phone_number</li>
        </ul>
      </p>
      <h3>Delete a contact <small>DELETE /contacts/:id</small></h3>
      <p>
        No params required.
      </p>
      <h3>Retrieve all contacts <small>GET /contacts</small></h3>
      <p>
        No params required.
      </p>
    </div>
  </div>
  <!-- Edit form -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Edit Contact</h4>
        </div>
        <form action="#" id="edit-contact" role="form">
          <div class="modal-body">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" placeholder="Enter your first name" name="first_name" id="first_name">
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter your last name" name="last_name" id="last_name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" placeholder="Enter your email address" name="email" id="email">
            </div>
            <div class="form-group">
              <label for="phone_number">Phone Number</label>
              <input type="text" class="form-control" name="phone_number" placeholder="Enter your phone number" id="phone_number">
            </div>
            <input type="hidden" name="id" id="id">
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>